@charset "utf-8";

/*样式重置(reset)*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{ margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; margin-bottom:30px; }
/*reset end*/

/*public*/
	/* 渐变 */
.clear { zoom:1;}
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
.gradient_f8 {
	background:#fbfbfb;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f8f8f8)';
	background:-webkit-linear-gradient( #ffffff, #f8f8f8 ); 
	background:   -moz-linear-gradient( #ffffff, #f8f8f8 );
	background:    -ms-linear-gradient( #ffffff, #f8f8f8 );
	background:     -o-linear-gradient( #ffffff, #f8f8f8 );
	background:        linear-gradient( #ffffff, #f8f8f8 );
}
.gradient_f5 {
	background:#fafafa;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f5f5f5)';
	background:-webkit-linear-gradient( #ffffff, #f5f5f5 ); 
	background:   -moz-linear-gradient( #ffffff, #f5f5f5 );
	background:    -ms-linear-gradient( #ffffff, #f5f5f5 );
	background:     -o-linear-gradient( #ffffff, #f5f5f5 );
	background:        linear-gradient( #ffffff, #f5f5f5 );
}
.gradient_f5re {
	background:#fafafa;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f5f5,endColorstr=#ffffff)';
	background:-webkit-linear-gradient( #f5f5f5, #ffffff ); 
	background:   -moz-linear-gradient( #f5f5f5, #ffffff );
	background:    -ms-linear-gradient( #f5f5f5, #ffffff );
	background:     -o-linear-gradient( #f5f5f5, #ffffff );
	background:        linear-gradient( #f5f5f5, #ffffff );
}
.gradient_f3 {
	background:#f8f8f8;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f3f3f3)';
	background:-webkit-linear-gradient( #ffffff, #f3f3f3 ); 
	background:   -moz-linear-gradient( #ffffff, #f3f3f3 );
	background:    -ms-linear-gradient( #ffffff, #f3f3f3 );
	background:     -o-linear-gradient( #ffffff, #f3f3f3 );
	background:        linear-gradient( #ffffff, #f3f3f3 );
}

.gradient_f20000 {
	background:#dc0000;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f20000,endColorstr=#b2040d)';
	background:-webkit-linear-gradient( #f20000, #b2040d ); 
	background:   -moz-linear-gradient( #f20000, #b2040d );
	background:    -ms-linear-gradient( #f20000, #b2040d );
	background:     -o-linear-gradient( #f20000, #b2040d );
	background:        linear-gradient( #f20000, #b2040d );
}
	/* 小箭头 */
.arrow_gray, .arrow_red_down, .arrow_red_up {
	width: 0;
	height: 0;
	border-style: solid;
	overflow: hidden;
	position:absolute;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); 
}
.arrow_gray 
{
	border-width: 4px 4px 0 4px;
	border-color:#c1c1c1 transparent transparent transparent;
	line-height: 0px;
	_border-color: #c1c1c1 #000000 #000000 #000000;
}
.arrow_red_down 
{
	border-width: 4px 4px 0 4px;
	border-color:#ca030a transparent transparent transparent;
	line-height: 0px;
	_border-color: #ca030a #000000 #000000 #000000;
}
.arrow_red_up 
{
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #ca030a transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #ca030a #000000;
}

;

	/* 选项卡 */
.options { width:350px; }
.options .tab { height:34px; position:relative; z-index:2; }
.options .tab li { width:172px; height:33px; line-height:33px; text-align:center; position:relative; border:1px solid #e5e5e5; border-bottom:none; border-radius:6px 6px 0 0; cursor:pointer; color:#666666; font-family:"Arial";
	background:#f8f8f8;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f3f3f3)';
	background:-webkit-linear-gradient( #ffffff, #f3f3f3 ); 
	background:   -moz-linear-gradient( #ffffff, #f3f3f3 );
	background:    -ms-linear-gradient( #ffffff, #f3f3f3 );
	background:     -o-linear-gradient( #ffffff, #f3f3f3 );
	background:        linear-gradient( #ffffff, #f3f3f3 ); }
.options h3 { color:#666666; font-family: "Arial"; font-size:12px; }
.options em { margin-left:10px; color:#2b2d2d; font-family:"微软雅黑"; font-size:14px; }
.options .tab .active { height:34px; line-height:34px; background:#ffffff; }
.options .active h3 { color:#cc0d13; }
.options .con { width:318px; padding:0 15px; border:1px solid #e5e5e5; border-radius:0 0 6px 6px; position:relative; z-index:1; }
.options .tab .arrow_gray, .options .tab .arrow_red_down { position:absolute; top:15px; right:15px; }

/* trip_option */
.trip_option .tab { border-bottom:1px solid #dadada; }
.trip_option .tab li {  float:left; border:1px solid #dadada; margin-left:-1px; border-bottom:none; border-radius:4px 4px 0 0; text-align:center; color:#666666; position:relative; cursor: pointer; 
	background:#fbfbfb;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(radientType=0,startColorstr=#f3f3f3,endColorstr=#ffffff)';
	background:-webkit-linear-gradient( #f3f3f3, #ffffff ); 
	background:   -moz-linear-gradient( #f3f3f3, #ffffff );
	background:    -ms-linear-gradient( #f3f3f3, #ffffff );
	background:     -o-linear-gradient( #f3f3f3, #ffffff );
	background:        linear-gradient( #f3f3f3, #ffffff );}
.trip_option .tab a { position:absolute; top:10px; right:12px; }
.trip_option .tab .active { height:25px; color:#454545; font-weight:bold; background:#ffffff; z-index:2;}
.trip_option .con { position:relative; }
.trip_option .con div { position:absolute; top:0; left:0; display:none; }
.trip_option .con li {  height:27px; line-height:27px; background:url("../img/dot.gif") no-repeat 6px center; }
.trip_option .con li a { color:#454545; }
.trip_option .con li a:hover { color:#ca0309; text-decoration:underline; } 
.trip_option .con .active { display:block; }



/* more */
.more { width:37px; height:13px; position:absolute; background:url(../img/more.gif); }

/* section_title */
.section_title { height:40px; line-height:40px; color:#010000; font-weight: bold; font-size:12px; position:relative; }
.section_title em { font-family:"Arial"; color:#cc0d13; margin-right:6px; }
.section_title .more { top:13px; right:0; }

/* pic_list */
.pic_list li { height:83px; margin-bottom:10px; border-bottom:1px dotted #cbcbca; }

.pic_img { width:90px; height:67px; float:left; padding:2px; border:1px solid #dadada; }
.pic_img img { width:90px; height:67px; }

.pic_list .pic_info { margin-left:108px; }

.pic_info h4 a { color:#b80000; font-size:12px; font-weight:normal; height:26px; line-height:26px; }
.pic_info p a { color:#666666; height:18px; line-height:18px; }
.pic_info span { color:#999999; }
.pic_info a:hover { color:#b80000; text-decoration:underline; }


/* list_section */
.list_section li { height:27px; line-height:28px; padding-left:18px; background:url(../img/dot.gif) no-repeat 7px; color:#333333; border-top: 1px dotted #cbcbca; }
.list_section li span { color:#c3c3c3; padding-right:8px; }
.list_section li a { color:#c75d61; }
.list_section li a:hover { text-decoration:underline; }


/* layout */
#header, #nav, #search, .content, #footer { margin:0 auto; }
#header, #nav, .content { width:960px; }
.side_section, .main_ad, .side_ad, .side_ad_border { margin-bottom:10px; }
.section, .side_section, .side_ad_border, #footer { border:1px solid #e5e5e5; border-radius:6px; }

#header { height:30px; border-radius:0 0 6px 6px; }
#nav { height:100px; position:relative; }
#search { width:958px; height:114px; margin-bottom:10px; border:1px solid #dbdbdb; border-radius:6px; position:relative; }

.main { width:710px; }
.main_wrap { padding-bottom:10px; }
.section { width:318px; padding:0 15px; }

.main_ad { height: 90px; border-radius:6px; overflow:hidden; }
.side { width:240px;}
.side_section { padding:0 12px; }
.side_ad { border-radius:6px; overflow:hidden; }
.side_ad_border { width: 238px; overflow:hidden;}

#footer { width:958px; height:78px; background:#f9f9f9; }


#header .city { padding:5px 0 0 20px; color:#666666; }
#header .city a { display:inline-block; height:18px; line-height:18px; padding:0 8px; text-align:center; color:#999999; background:#ffffff; margin-right:5px; border:1px solid #e7e7e7; border-radius:3px; box-shadow:1px 1px 0 #ededed; }
#header .city a:hover { background:#f1f1f1; }
#header .city .active { color:#d60d03; }
#header .city .active:hover { background:#ffffff; }
#header .link { padding:8px 24px 0 0; color:#666666; word-spacing:5px; }
#header .link a { display:inline-block; height:12px; line-height:12px; padding-left:20px; text-align:center; color:#666666; margin-right:5px; }
#header .link a:hover { text-decoration:underline; }
#header .link .icon1 { background:url("../img/head_link_bg.gif") no-repeat 0 0;}
#header .link .icon2 { background:url("../img/head_link_bg.gif") no-repeat 0 -30px;}


#nav ul { margin:10px 9px; position:absolute; }
#nav li { float:left; }
#nav li a { display: block; width:66px; padding-top:50px; color:#333333; background:url("../img/nav_bg.gif") no-repeat; text-align:center; }
#nav h1 { width:223px; margin:0 auto; padding-top:10px; }
#nav .nav1 { top:0; left:0; }
#nav .nav2 { top:0; right:0; }
#nav .bg1 { background-position:0 0; }
#nav .bg2 { background-position:0 -70px; }
#nav .bg3 { background-position:0 -140px; }
#nav .bg4 { background-position:0 -210px; }
#nav .bg5 { background-position:0 -280px; }
#nav .bg6 { background-position:0 -350px; }
#nav .bg7 { background-position:0 -420px; }
#nav .bg8 { background-position:0 -490px; }
#nav .bg9 { background-position:0 -560px; }
#nav .bg10 { background-position:0 -630px; }

#nav .bg1:hover { background-position:-66px 0; }
#nav .bg2:hover { background-position:-66px -70px; }
#nav .bg3:hover { background-position:-66px -140px; }
#nav .bg4:hover { background-position:-66px -210px; }
#nav .bg5:hover { background-position:-66px -280px; }
#nav .bg6:hover { background-position:-66px -350px; }
#nav .bg7:hover { background-position:-66px -420px; }
#nav .bg8:hover { background-position:-66px -490px; }
#nav .bg9:hover { background-position:-66px -560px; }
#nav .bg10:hover { background-position:-66px -630px; }


#search .bar { width:958px; height:64px; background:#e21c01; border:1px solid #c40d0e; border-radius:5px; position:absolute; left:-1px; top:16px; box-shadow:1px 2px 1px #d2d2d2; }
#search .menu { position:absolute; top:-27px; left:226px; }
#search .menu li { width:78px; height:25px; float:left; margin-right:1px; text-align:center; line-height:25px; border:1px solid #eec8b8; border-bottom:none; border-radius:5px 5px 0 0; box-shadow:1px 0px 2px rgba(176,176,176,0.3); cursor:pointer;
	background:#fbfbfb;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#f8f8f8)';
	background:-webkit-linear-gradient( #ffffff, #f8f8f8 ); 
	background:   -moz-linear-gradient( #ffffff, #f8f8f8 );
/*	background:    -ms-linear-gradient( #ffffff, #f8f8f8 );*/
	background:     -o-linear-gradient( #ffffff, #f8f8f8 );
	background:        linear-gradient( #ffffff, #f8f8f8 ); 
}
#search .menu .current { width:79px; height:28px; position:relative; top:-1px; left:0; font-weight:bold; background:#e21c01!important; border-color:#c40d0e; text-shadow:1px 2px 1px rgba(0,0,0,0.25) ; color:#ffffff; }
#search form .text { width:381px; height:18px; line-height:18px; background:#fff1ef; color:#ea7a7a; padding:4px 12px 0 12px; position:absolute; top:19px; left:225px; border:none; border-radius:5px; box-shadow:1px 2px 1px #ca8c83 inset; }
#search form .btn { width:61px; height:23px; background:url("../img/search_img.png") no-repeat -162px 0; border:none; border-radius:23px; box-shadow:1px 2px 1px #ab0900; position:absolute; top:18px; right:257px; cursor:pointer; }
#search p { position:absolute; top:11px; right:33px; line-height:18px; color:#fbfbfb; }
#search p a { color:#fbfbfb; }
#search p a:hover { text-decoration:underline; }
#search .img { width:162px; height:122px;  position:absolute; top:-2px; left:32px; z-index:2; background:url("../img/search_img.png") no-repeat; }
#search .update { height:30px; width:400px; background:url("../img/search_img.png") no-repeat -226px 0; position:absolute; bottom:0; left:226px; }
#search .wrap { width:340px; height:30px; overflow:hidden; position:relative; left:60px; }
#search .update ul { position:absolute; top:0px; left:0; }
#search .update a { color:#000000; }
#search .update li { height:30px; line-height:30px; }
#search .update .author { color:#d30703; }
#search .update em { color:#999999; padding:0 6px; }
#search .update a:hover { text-decoration:underline; }
#search .update .arrow_red_up { right:0; top:8px; }
#search .update .arrow_red_down { right:0; bottom:8px; }


.video_title { height:42px; line-height:42px; background:url("../img/video_bg.gif") no-repeat 105px 10px; font-family:"Arial"; font-weight:normal; font-size:18px; color:#d90000; position:relative; }
.video_title sup { position:absolute; top:-12px; }
.video { margin-bottom:13px; }
.video_list { height:78px; padding-left:85px; background:url("../img/video_bg.gif") no-repeat 3px -45px; }
.video_list li {  line-height:20px; text-indent:6px; background:url("../img/dot.gif") no-repeat 0 center; }
.video_list li a { color:#4d4d4d; }
.video_list li a:hover { text-decoration:underline; }


.shop .con { padding-top:15px; height:368px; }
.shop .hotCon, .shop .ewCon { display:none;}
.shop .con div li { width:318px; height:98px; position:relative; padding-top:10px; margin-bottom:6px; background:url(../img/hot_list_li_bg.gif); }
.shop .con .active { display:block; }
.shop .con ul img { border:1px solid #e6e6e6; float:left; }
.shop .con .hot_save { position:absolute; left:70px; top:60px; border:none; }
.shop .con ul div { margin-left:127px; }
.shop .con ul h4 { height:26px; line-height:26px; font-weight:normal; color:#bb0d0d; font-size:12px; }
.shop .con ul h4 a { color:#bb0d0d; }
.shop .con ul p { height:16px; line-height:16px; color:#6e6e6e; }
.shop .con .more { right:15px; bottom:10px; }


.activity, .recommend { width:348px; border:1px solid #e5e5e5; border-radius:6px; }
.activity .new_title, .recommend .new_title { height:70px; position:relative; background:url(../img/new_title_bg.gif) no-repeat; }
.activity { float:left; z-index:2; position:absolute;}

.activity .new_title { background-position:right 0; }
.new_title strong { position:absolute; top:22px; font-family:"Arial"; font-size:12px; color:#ea2b31; }
.new_title span { position:absolute; top:36px; font-family:"微软雅黑"; font-size:24px; color:#333333; }
.new_title strong, .new_title span { left:24px; }
.new_title em { position:absolute; top:26px; left:128px; font-family:"Arial"; font-size:36px; color:#ec1c16; }

.activity .cont { height:84px; padding:16px 25px 0 25px; background:url(../img/activity_bg.gif) no-repeat 0 0;}
.activity .cont .img { float:left; position:relative; }
.activity .cont .img .mask { width:84px; height:84px; position:absolute; top:0; left:0; background:url(../img/activity_bg.gif) no-repeat -373px; }
.activity .cont .pic_info { margin-left:96px; }
.activity .cont .pic_info h3 { height:30px; line-height:30px; font-size:12px; color:#333333; text-indent:5px;  }
.activity .cont .pic_info h3 em { display:inline-block; width:25px; height:25px; margin:2px; color:#cf1812; background:url(../img/activity_bg.gif) no-repeat -348px 0; font-size:14px; line-height:26px; }
.activity .cont .pic_info h3 span { padding-left:5px; color:#333333; }
.activity .cont .pic_info p { line-height:1.5; color:#999999; }

.activity .calender { padding:20px 25px; position:relative; }
.activity .calender h3 { height:34px; padding-left:3px; }
.activity .calender h3 span { display:inline-block; width:38px; font-size:12px; color:#333333; line-height:34px; text-align:center; }
.activity .calender ol { width:302px; margin:0 0 2px -3px; position:relative; }
.activity .calender ol li { width:40px; height:40px; line-height:40px; float:left; background:#ededed; color:#666666; margin:0 0 2px 3px; text-align:center; position:relative; }
.activity .calender .normal { background:#f8f8f8; color:#cccccc; }
.activity .calender .active:before { border:2px solid #d30408; width:36px; height:36px; content:'';position:absolute; top:0; left:0; z-index:10; }
.activity .calender .img { width:40px; height:40px; position:absolute; top:0; left:0; }

.activity .today_info { width:290px; height:86px; padding:10px 15px; border:1px solid #c0c0c0; background:#ffffff; position:absolute; top:100px; left:40px; display:none; }
.activity .today_info img { float:left; width:80px; height:80px; border:2px solid #dbdbdb; margin-right:4px; }
.activity .today_info .pic_info { padding-left:90px;}
.activity .today_info h3 { height:28px; color:#333333; font-size:12px; line-height:22px; }
.activity .today_info strong { margin:100px 7px 0 -2px; vertical-align:bottom;  font-size:20px; color:#cccccc; }
.activity .today_info p { font-size:12px; line-height:18px; color:#999999; }
.activity .today_info:before { position:absolute; left:-20px; top:40px; content:""; border:10px solid; border-color:transparent #c0c0c0 transparent transparent; z-index:10;}
.activity .today_info:after { position:absolute; left:-19px; top:40px; content:""; border:10px solid; border-color:transparent #ffffff transparent transparent; z-index:11;}


.recommend { float:right; z-index:1; }
.recommend .new_title { background-position:right -71px; }

#fade { width:294px; height:156px; padding:12px; margin-left:15px; background:#f8f8f8; border-radius:4px; position:relative; }
#fade ul { position:relative; }
#fade ul li { position:absolute; opacity:0; }
#fade ul li img { border:1px solid #ffffff; }
#fade ol { position:absolute; top:12px; right:12px; }
#fade ol li { width:60px; height:36px; margin-bottom:13px; }
#fade ol li img { width:54px; height:30px; border:3px solid #ffffff; }
#fade ol .active img { border-color:#d6191d; }
#fade p { line-height:30px; color:#000000; position:absolute; bottom:0; left:17px; }

.recommend .list { width:294px; margin:0 15px; padding:24px 12px 8px 12px; }
.recommend .list li { height:27px; position: relative;}
.recommend .list li em { color:#dfdfdf; }
.recommend .list li a { color:#454545; }
.recommend .list li a:hover { text-decoration:underline; }
.recommend .list li span { position:absolute; right:0; top:0; color:#999999; font-size:10px; }


#subway_wrap .con { height:294px; }
#subway_wrap .con div { display:none; }
#subway_wrap .con .active { display:block; }
#subway_wrap .subway { position:absolute; height:294px; }
#subway_wrap .subway .img_list { position:relative; height:246px; }
#subway_wrap .subway .img_list li { width:318px; height:246px; position:absolute; top:0; left:0; display:none; }
#subway_wrap .subway .img_list .active { display:block; }
#subway_wrap .subway .text_list { height:28px; width:320px; }
#subway_wrap .subway .text_list li { float:left; width:53px; height:23px; line-height:23px; border:2px solid pink; border-radius:4px; cursor:pointer; margin-right:7px; 
	background:#ededed;
	-ms-filter:'progid:DXImageTransform.Microsoft.gradient(radientType=0,startColorstr=#fdfdfd,endColorstr=#e0e0e0)';
	background:-webkit-linear-gradient( #fdfdfd, #e0e0e0 ); 
	background:   -moz-linear-gradient( #fdfdfd, #e0e0e0 );
	background:    -ms-linear-gradient( #fdfdfd, #e0e0e0 );
	background:     -o-linear-gradient( #fdfdfd, #e0e0e0 );
	background:        linear-gradient( #fdfdfd, #e0e0e0 );}
#subway_wrap .subway .text_list li em { font-size:12px; font-weight:bold; }
#subway_wrap .subway .text_list ._dc0000 { border-color:#dc0000; }
#subway_wrap .subway .text_list ._dc0000 em { color:#dc0000; }
#subway_wrap .subway .text_list ._003399 { border-color:#003399; }
#subway_wrap .subway .text_list ._003399 em { color:#003399; }
#subway_wrap .subway .text_list ._ff9900 { border-color:#ff9900; }
#subway_wrap .subway .text_list ._ff9900 em { color:#ff9900; }
#subway_wrap .subway .text_list ._dd0f0f { border-color:#dd0f0f; }
#subway_wrap .subway .text_list ._dd0f0f em { color:#dd0f0f; }
#subway_wrap .subway .text_list ._903077 { border-color:#903077; }
#subway_wrap .subway .text_list ._903077 em { color:#903077; }
#subway_wrap .subway .text_list .active { height:27px; width:55px; line-height:27px; padding-left:2px; background:#ff9900; color:#ffffff; border:none; }
#subway_wrap .subway .text_list .active em { color:#ffffff!important; font-size:12px; font-weight:bold; }
#subway_wrap .options .life_map { position:absolute; width:320px; height:294px; }
#subway_wrap .options .life_map img { width:318px; height:294px; }


.bbs .bbsCon { width:318px; height:268px; margin-bottom:20px; }
.bbs li {  border-radius:4px; margin-bottom:3px; overflow:hidden; display:block; vertical-align:middle;/* vertical-align>>>兼容IE */ }
.bbs .detail { height:50px; padding:10px; position:relative; background:#d90000; display:none; }
.bbs .detail img { width:50px; height:50px; margin-right:10px; float:left; }
.bbs .detail h4 { width:238px; height:26px; line-height:26px; font-size:14px; font-weight:normal; color:#ffffff; display:inline-block; }
.bbs .detail p { width:238px; height: 24px; line-height:24px; color:#ffffff; display:inline-block; }
.bbs .detail strong { position:absolute; bottom:0; right:5px; font-size: 20px; font-weight:bold; color:#ffffff; }
.bbs .summary { height:30px; line-height:30px; background:#f1f1f1; padding-left:10px; }
.bbs .summary em { float:left; width:24px; font-size:10px; color:#d80000; margin-right:20px; font-weight:bold; }
.bbs .summary p { float:left; width:204px; color:#333333; }
.bbs .summary span { float:left; width:58px; color:#666666; }
.bbs .active .detail { display:block; }
.bbs .active .summary { display:none; }
.bbsCon { margin-bottom:20px; }
.bbs li:nth-child(odd) .summary { background:#f8f8f8; }




.advice .tab { width:306px; height:25px; padding-left:12px; }
.advice .tab li { width:98px; height:24px; line-height:25px; }
.advice .con { height:170px; }
.advice .con div { height:170px; }
.advice .con ul { padding-top:2px; }
.advice .con li { width:302px; padding-left:16px; border-bottom:1px dotted #cbcbca; }
.advice .con li em { float:right; margin-right:20px;display:inline-block;height:27px; width:10px; }
.advice .con li .complete { background:url("../img/advice_bg.gif"); }
.advice .con li .flag { background:url("../img/advice_bg.gif") 0 -28px; }
.advice .con li span { margin-right:8px; color:#767676; }
.advice .con li span a { color:#c75d61; }
.advice .con .con_title { background:none; padding:0; width:318px; }
.advice .con .con_title span, .advice .con .con_title em { display:inline-block; text-align:center; color:#999999; margin:0; }
.advice .con .con_title span {  width:260px; letter-spacing:20px; }
.advice .con .con_title em { width:58px; }

.advice .search { height:45px; line-height:22px; color:#595959; font-weight:bold; padding:17px 10px 0 10px; letter-spacing:1px; position:relative; }
.advice .search .text { height:19px; line-height:18px; width:179px; text-indent:4px; margin:0 10px 0 2px; border-color:1px solid #9c9c9c; color:#9c9c9c; }
.advice .search .button { position: absolute; top:18px; right:9px; width:24px; height:24px; background:url("../img/advice_bg.gif") 0 -56px; border:none; cursor:pointer;}


.hot_people {}
.hot_people .lattice { width:318px; height:238px; margin-bottom:20px; }
.hot_people .lattice li { height:78px; float:left; margin:0 2px 2px 0; }
.hot_people .double { position:relative; }
.hot_people .double p { width:144px; height:70px; padding:8px 0 0 12px; line-height:18px; color:#ffffff; position:absolute; top:0; ;left:0; background:rgba(0,0,0,0.4); opacity:0; transition:0.2s; }
.hot_people .double p:hover { opacity:1; }
.hot_people .double img {}


.help .contact { padding-top:12px; color:#333333; }
.help .cont_info { height:45px; padding-top:12px; }
.help .cont_info p { height:18px; line-height:18px; }
.help .cont_way { height:34px; border-bottom:1px solid #ededee;  }
.help .cont_way li { height:34px; width:128px; padding:0 0 0 30px; float:left; line-height:22px; }
.help .phone { color:#b80000; font-weight:bold; font-size:16px; background:url("../img/help_bg.gif") no-repeat 7px 2px; }
.help .email { font-size:12px; background:url("../img/help_bg.gif") no-repeat 14px -42px; text-indent:6px; }
.help .cont { height:76px; padding:20px 10px; }
.help .cont div { float:left; width:120px; margin-bottom:6px; }
.help .cont .trader { padding-left:52px; }
.help .cont h4 { color:#292929; font-size:12px; }
.help .cont li { height:18px; line-height:18px; padding-left:12px; background:url("../img/dot.gif") no-repeat 4px; }
.help .cont a { color:#333333; }
.help .cont a:hover { text-decoration:underline; }


.media ul { padding:16px 0; }
.media li { height:32px; margin-bottom:12px; }
.media img { width:88px; height:31px; float:left; }
.media p { margin-left:98px; height:18px; line-height:18px; }
.media p a { color:#292929; }


.login { border:1px solid #e5e5e5; border-radius:6px; margin-bottom:10px; padding-bottom:1px; }
.login h2 { height:34px; line-height:34px; padding:0 12px; font-size:12px; color:#010000; border-radius:6px 6px 0 0; border-bottom:1px solid #e5e5e5; }
.login h2 span { font-family:"Arial"; color:#cc0d13; margin-right:5px; }
.login .form { padding:0 12px 0 12px; }
.login .form ul { padding:15px 0 2px 0; border-bottom:1px solid #dbdbdb; }
.login .form li { height:26px; }
.login .form li strong { font-weight:normal; }
.login .form .text { width:87px; height:17px; background:#f7f7f7; border:1px solid #e5e5e5; margin-right:6px; }
.login .form .btn { width:56px; height:22px; line-height:22px; color:#ffffff; font-weight:bold; text-align:center; border-radius:11px; border:none; box-shadow:1px 2px 1px #c1c1c1; cursor:pointer; }
.login p { line-height: 32px; padding-left:30px; }
.login p a { display:inline-block; width:60px; padding-left:8px; margin-right:26px; background:url(../img/dot.gif) no-repeat 0 50%; color:#666666; }
.login p a:hover { text-decoration:underline; }


#coupons .tab { width:202px; height:23px; padding:0 5px 0 7px; }
#coupons .tab li { width:66px; height:22px; line-height:22px; }
#coupons .tab .active { height:23px; }
#coupons .con { height:174px; }
#coupons .con div { height:170px; }
#coupons .con ul { padding-top:2px; }
#coupons .con li { width:202px; height:27px; line-height:27px; padding-left:12px;  border-top:1px dotted #cbcbca; }
#coupons .con span { height:22px; line-height:22px; display:inline-block; color:#999999; text-align:center; }
#coupons .con .con_title { background:none; border:none; }
#coupons .con .con_title span { text-align:center; }
#coupons .con .col1 { width:124px; text-align:left; }
#coupons .con .col2 { width:26px; color:#d80000; }
#coupons .con .col3 { width:38px; color:#999999; }
#coupons .con .con_title .col1 { width:124px; text-indent:-20px; }
#coupons .con .con_title .col2 { width:26px; color:#999999; }
#coupons .con .con_title .col3 { width:38px; }


.wrap_section2 { padding-bottom:2px; }

.wrap_section3 p { display:inline-block; height:28px; line-height:28px; }

.wrap_section4 { padding-bottom:1px; }
.wrap_section4 .pic_list li { margin:0; border:none; }

.wrap_section5 { padding-bottom:9px; }
.wrap_section5 .pic_list li { width:96px; margin:0; height:151px; padding-right:11px; float:left; border:none; }
.wrap_section5 .pic_list .pic_info { margin:0; padding-top:73px; }




#footer ul { width:568px; height:25px; padding-top:21px; margin:0 auto;}
#footer li { width:70px; border-right:1px solid #454545; height:12px; line-height:12px; float:left; text-align:center; }
#footer li:last-of-type { border:none; }
#footer a { color:#454545; }
#footer a:hover { text-decoration:underline; }
#footer p { width:450px; margin:0 auto; color:#767676; }