@function px2rem($px, $base-font-size: 75px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}
@mixin px2rem($property,$px-values,$baseline-px:75px,$support-for-ie:false){
  //Conver the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  //Print the first line in pixel values
  @if $support-for-ie {
    #{$property}: $px-values;
  }
  //if there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number"{
    #{$property}: $px-values / $baseline-rem;
  }
  @else {
    //Create an empty list that we can dump values into
    $rem-values:();
    @each $value in $px-values{
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of($value) != "number"{
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}
@mixin font-dpr($font-size){
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}
@at-root {
  /*reset*/
  /*! normalize.css v2.1.3 | MIT License | git.io/normalize */
  /*Html5*/
  article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  /*Base*/

  html, body{
    font-family:'微软雅黑','Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,"Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  html {
    color: #333333;
    background: #f6f6f6;
    line-height: 1.7;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /*修正手持设备字体变化*/
  }
  html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
  }
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
  }
  input, select, textarea {
    font: inherit;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0
  }
  fieldset, img {
    border: 0
  }
  abbr, acronym {
    border: 0;
    font-variant: normal
  }
  del {
    text-decoration: line-through
  }
  ol, ul {
    list-style: none
  }
  caption, th {
    text-align: left
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 500
  }
  q:before, q:after {
    content: ''
  }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
  }
  sup {
    top: -.5em
  }
  sub {
    bottom: -.25em
  }
  address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
  }
  a {
    color: inherit;
    text-decoration: none;
    background: transparent; /*修正win8系统IE连接灰色背景*/
    outline:none;
    blr:expression(this.onFocus=this.blur());
  }
  a:focus {
    outline: 0;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode:bicubic;
    transition: transform 1s;
  }
  img.hover{
    transform: scale(1.15);
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
    -webkit-appearance: none;
  }
  i, em{
    font-style: normal;
  }
  /*legend*/
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline:none;
  }
  button,
  input {
    line-height: normal;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input.submit {
    cursor: pointer;
  }
  input.radio {
    width: 13px;
    height: 13px;
  }
  input[type="text"],
  input[type="number"]{
    -webkit-appearance: none;
  }
  @font-face{
    font-family: 'iconfont';
    src:url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
  .ico{
    font-family:"iconfont" !important;
    font-style:normal;
    font-size: px2rem(40px);
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
}
$Mc: #ed0803;
@at-root {
  /*common*/
  .btn{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: px2rem(24px);
    padding-right: px2rem(24px);
    box-sizing: border-box;
    font-size: px2rem(26px);
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    height: px2rem(80px);
    line-height: px2rem(80px);
    border: none;
    border-radius: px2rem(5px);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden
  }
  .btn.btn-default{
    color: #FFFFFF;
    background: $Mc;
    &:active{
      color: rgba(255, 255, 255, 0.4);
      background: darken($Mc,10%);
    }
  }
  textarea,[type=text]{
    border: px2rem(1px) solid #999999;
    border-radius: px2rem(4px);
  }
  textarea:focus,[type=text]:focus{
    border-color: $Mc;
  }
  .btn-wrap{
    padding: 0 px2rem(24px);
  }
  html, body{
    position: relative;
    /*
    @include font-dpr(26px);
    */
    /*
    line-height: 1.6;
    */
  }
  article{
    /*
    @include font-dpr(26px);
    */
    line-height: 1.6;
  }
  nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 0;
    padding: 0 px2rem(48px);
    visibility: hidden;
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.9;
        z-index: 7;
      }
  }
  nav.show{
    height: 100%;
    visibility: visible;
  }
  .nav{
    position: relative;
    width: 100%;
    margin-top: px2rem(150px);
    color: #e5e5e5;
    font-size: px2rem(26px);
    border-top: px2rem(1px) solid #CCCCCC;
    transition: visibility 1s linear 0s;
    z-index: 10;
    li{
      height: px2rem(69px);
      border-bottom: px2rem(1px) solid #CCCCCC;
    }
    a{
      display: block;
      line-height: px2rem(68px);
    }
    i{
      margin-left: px2rem(45px);
      margin-right: px2rem(30px);
    }
  }
  .head-nav-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: px2rem(98px);
    height: px2rem(86px);
    padding: px2rem(24px) px2rem(24px);
    cursor: pointer;
    z-index: 10;
    .box{
      position: relative;
      width: 100%;
      height: px2rem(36px);
      span{
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background: #FFFFFF;
        transition: all 500ms ease;
      }
    }
    .l-top{
      top: 0;
    }
    .l-cen{
      top: px2rem(16px);
    }
    .l-bot{
      bottom: 0;
    }
  }
  .head-nav-btn.hover{
    .l-top{
      transform-origin:right top 0;
      transform: rotate(-45deg)
    }
    .l-cen{
      opacity: 0;
    }
    .l-bot{
      transform-origin:right bottom 0;
      transform: rotate(45deg)
    }
  }
}
@at-root {
  /*header*/
  header{
    @include px2rem(height, 88px);
    background: $Mc;
    padding: 0 px2rem(24px);
    h1{
      float: left;
      width: px2rem(300px);
      height: px2rem(88px);
      /*      @include px2rem(width, 240px);
            @include px2rem(height, 88px);*/
      overflow: hidden;
      background: url("../images/logo.png") left center no-repeat;
      text-indent: -999px;
    }
    .btn{
      float: right;
      width: px2rem(50px);
      height: px2rem(50px);
      margin-top: px2rem(20px);
      div{
        width: 100%;
        height: px2rem(3px);
        background: #FFFFFF;
        margin: px2rem(10px) 0;
      }
    }
  }
}
@at-root {
  /*main*/
  .main{
    padding-bottom: px2rem(80px);
    @include font-dpr(16px);
    img{
      width: 100%;
      height: auto;
    }
  }
  #index_swiper{
    .swiper-wrapper{
    }
  }
  .m-head{
    position: relative;
    height: px2rem(88px);
    padding: 0 px2rem(24px);
    line-height: px2rem(88px);
    background: #FFFFFF;
    text-align: center;
    font-size: px2rem(40px);
    color: #000000;
    border-bottom: px2rem(1px) solid #d9d9d9;
    .jiantou-left{
      position: absolute;
      top: 0;
      left: px2rem(24px);
    }
    .ico{
      font-size: px2rem(40px);
    }
  }
  .section {
    padding: 0 px2rem(24px);
    p{
      text-indent: px2rem(24px);
    }
  }
  .content{
    padding-top: px2rem(20px);
  }
  .container{
    padding: 0 px2rem(24px);
    p{
      text-indent: px2rem(24px);
    }
  }
  .img-box{
    margin-bottom: px2rem(20px);
    .text{
      height: px2rem(130px);
      background: #FFFFFF;
      text-align: center;
      h6{
        font-size: px2rem(36px);
        padding-top: px2rem(24px);
        padding-bottom: px2rem(8px);
      }
      p{
        font-size: px2rem(18px);
        color: #666666;
      }
    }
  }
}
@at-root {
  /*footer*/
  footer{
    height: px2rem(120px);
    padding-left: px2rem(48px);
    padding-right: px2rem(48px);
    padding-top: px2rem(20px);
    background: $Mc;
    text-align: center;
    color: #e5e5e5;
    .icp{
      font-size: px2rem(24px);
      line-height: 1;
      border-bottom: px2rem(1px) solid #e5e5e5;
      span{
        position: relative;
        top: px2rem(12px);
        padding: 0 px2rem(36px);
        background: $Mc;
      }
    }
    .copyright{
      margin-top: px2rem(28px);
      font-size: px2rem(18px);
    }
  }
}
@at-root {
  /*about sites*/
  .about-swiper-wrapper{
    padding: 0 px2rem(58px);
    margin-top: px2rem(30px);
    box-sizing: content-box;
    #about_swiper{
      img{
        width: auto;
      }
    }
  }
}
@at-root {
  /*product list*/
  .p-list{
    width: px2rem(708px);
    margin-top: px2rem(30px);
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    li{
      width: px2rem(350px);
      margin-right: px2rem(4px);
      margin-bottom: px2rem(20px);
      float: left;
    }
    .p-model{
      height: px2rem(100px);
      line-height: px2rem(100px);
      margin-top: px2rem(4px);
      text-align: center;
      background: #FFFFFF;
      &:after{
        content: '';
        vertical-align: middle;
      }
      p{
        display: inline-block;
        padding: 0 px2rem(30px);
        vertical-align: middle;
        font-size: px2rem(24px);
        line-height: 1.25;
      }
    }
  }
}
@at-root {
  /*product detail*/
  .product-info{
    .p-title{
      height: px2rem(60px);
      padding: 0 px2rem(24px);
      line-height: px2rem(60px);
      color: #FFFFFF;
      background: $Mc;
    }
    .p-detail{
      padding: px2rem(30px) px2rem(24px);
      table{
        width: 100%;
        vertical-align: middle;
        border-top: px2rem(1px) solid #CCCCCC;
        border-left: px2rem(1px) solid #CCCCCC;
        line-height: 2;
        td{
          width: 50%;
          padding: 0 px2rem(20px);
          vertical-align: middle;
          border-bottom: px2rem(1px) solid #CCCCCC;
          border-right: px2rem(1px) solid #CCCCCC;
        }
      }
    }
  }
}
@at-root {
  /*staff-center*/
  .staff{
    font-size: px2rem(30px);
    .s-info{
      position: relative;
      height: px2rem(155px);
      margin-top: px2rem(10px);
      padding: px2rem(36px) px2rem(24px);
      background: #FFFFFF;
      .sign{
        position: absolute;
        top: px2rem(54px);
        right: px2rem(30px);
        width: px2rem(150px);
        height: px2rem(50px);
        line-height: px2rem(50px);
        text-align: center;
        border: none;
        border-radius: px2rem(2px);
        background: #e6e6e6;
        .ico{
          font-size: px2rem(30px);
        }
      }
    }
    .s-nav{
      margin-top: px2rem(30px);
      background: #FFFFFF;
      li{
        padding: 0 px2rem(24px);
        border-bottom: px2rem(1px) solid #f2f2f2;
      }
      a{
        display: block;
        width: 100%;
        line-height: px2rem(100px);
        .ico{
          text-align: center;
          display: inline-block;
          width: px2rem(56px);
          margin-right: 25px;
        }
        .jiantou-right{
          float: right;
          margin-right: 0;
        }
      }
    }
  }
  .plan{
    margin-top: px2rem(10px);
    position: relative;
    padding-bottom: px2rem(120px);
    textarea{
      width: 100%;
      height: px2rem(900px);
      line-height: 2;
      padding: 0 px2rem(24px);
      background: #fcfcfc;
    }
    .text{
      padding: px2rem(10px) px2rem(24px) px2rem(120px);
      background: #fcfcfc;
      p{
        text-indent: px2rem(52px);
      }
    }
    .btn-wrap{
      margin-top: px2rem(60px);
    }
    .btn{
      width: 100%;
    }
  }
}
@at-root {
  /*apply*/
  .apply{
    padding-top: px2rem(10px);
    .apply-detail,.apply-total{
      padding: 0 px2rem(24px);
      margin-top: px2rem(20px);
      border-top: px2rem(1px) solid #e5e5e5;
      border-bottom: px2rem(1px) solid #e5e5e5;
      li{
        line-height: px2rem(80px);
      }
      label{
        display: inline-block;
        padding-left: px2rem(24px);
      }
      input{
        width: px2rem(300px);
        height: px2rem(60px);
      }
      span{
        margin-left: px2rem(12px);
      }
    }
    .apply-detail{
      background: #fcfcfc;
      label{
        width: px2rem(240px);
      }
    }
    .apply-total{
      background: #fafafa;
      label{
        width: px2rem(180px);
      }
      .c-total{
        label{
          width: auto;
        }
      }
    }
    .apply-detail.done{
      /*
      @include font-dpr(14px);
      */
      .ico{
        margin-left: px2rem(12px);
        margin-right: px2rem(24px);
      }
    }
    .apply-total.done{
      .ico{
        margin-left: px2rem(12px);
        margin-right: px2rem(24px);
      }
      .remark{
        span{
          float: left;
        }
        p{
          float: left;
          margin-left: px2rem(160px);
        }
      }
    }
    .btn-wrap{
      margin: px2rem(80px) 0;
      padding: 0 px2rem(24px);
      a{
        width: px2rem(300px);
        margin-left: px2rem(24px);
      }
      button{
        width: 100%;
      }
    }
  }
}